body {
  font-size: 14px !important;
  overflow-x: hidden;
  color: black !important;
}

.pointer {
  cursor: pointer;
  margin-bottom: 16px !important;
  font-size: 16px;
}

.pointer-k {
  cursor: pointer;
}

.pointer-k:hover {
  background-color: #5e2750 !important;
  color: #ffff;
}

p {
  margin-bottom: 5px !important;
}

h5 {
  margin-bottom: 23px !important;
  font-size: 22px;
}

.go-shadow h5 {
  margin-bottom: 5px;
}

input:focus,
textarea,
textarea:focus fieldset input,
select,
.dropdown-toggle {
  outline: none !important;
  border: none;
  /* border: 1px solid #DDDDDD; */
}

a {
  text-decoration: none !important;
}

.form-check-input {
  border: 1px solid black;
  height: 15px;
  width: 15px;
}

.material-symbols-outlined {
  font-size: 18px !important;
  cursor: pointer;
}

.vertical-center {
  align-self: center;
}

.accordion-button:not(.collapsed) {
  color: #e95420 !important;
  background-color: white !important;
}

.accordion-button:not(.collapsed) .form-check-input {
  background-color: #01c875 !important;
  border: #01c875 !important;
  background-position: right center;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}

.accordion-button:focus,
.accordion-button:not(.collapsed) {
  border: none !important;
  box-shadow: none !important;
}

option {
  padding: 3px !important;
}

select:required:invalid {
  color: gray !important;
}

fieldset select {
  margin: 1px;
}

.text-violate,
.flat-type-container h5,
.floor-details-container h5,
.floor-details-container p {
  color: #77216f;
}

/* #77216F */

/* top-nav */
.go-logo {
  max-width: 15%;
}

.navbar-nav .nav-item,
.gallery-img {
  width: 100px;
  text-align: center;
}

.navbar {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  position: sticky !important;
  top: 0;
  background-color: white;
  z-index: 99;
  height: 9vh;

}

.navbar .nav-item {
  margin-left: 5px;
  margin-right: 5px;
}

.search-input input {
  height: fit-content;
  padding: 1px;
}

.navbar .active {
  color: white !important;
  /* border-radius: 5px; */
  background-color: #e95420;
  height: 40px;
}

.top-nav-right {
  display: flex;
}

/* sidebar */
.top_navbar .hamburger {
  cursor: pointer;
  color: black;
}

.search-input {
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: auto 5px;
}

.search-input input {
  border: none;
}

.material-symbols-outlined,
.search-input .material-symbols-outlined {
  margin: auto 5px;
}

.go-shadow {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 10px;
  padding: 10px;
  border-radius: 5px;
}

.go-shadow-k {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 10px;
}

ul {
  list-style-type: none;
}

.stepper-wrapper .active .step-counter a,
.stepper-wrapper .active .step-counter2 a,
.stepper-wrapper .active .step-counter3 a,
.title {
  color: #e95420;
  vertical-align: text-top;
}

.stepper-item b {
  font-size: 12px;
  margin-top: 3px;
  font-weight: normal;
}

.form-check-input:checked,
.form-switch .on-off-toggler.form-check-input:checked {
  background-color: #01c875 !important;
  border: #01c875 !important;
}

.sidebar .active a,
.sidebar .active a:active,
.sidebar .active a:hover {
  color: white !important;
}

.sidebar .dropdown-toggle::after {
  float: right;
  margin-top: 10px;
}

/* .sidebar .dropdown-menu {
  background-image: linear-gradient(to bottom right, #77216F, #39102E);
  margin-left: 10px !important;
  border-radius: 10px;
  color: white;
  z-index: 999;
position: absolute;
  inset: auto auto 0px 0px;
  transform: translate(0px, 8px);
   min-width: 12rem;
} */

.btn-group2 {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 190px;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: white;
  text-align: left;
  list-style: none;
  /* background-image: linear-gradient(to bottom right, #77216f, #39102e); */
  border: 1px solid #5e2750;
  background-clip: padding-box;
  /* border: 1px solid rgba(0, 0, 0, 0.125); */
  border-radius: 0.25rem;
}

.dropdown-menu.show {
  display: block;
}

/* select,input,textarea {  padding: 2px;} */
section .locked {
  color: gray;
  display: flex;
}

section .locked img {
  margin: 5px;
}

.sidebar::-webkit-scrollbar {
  width: 12px;
}

.sidebar::-webkit-scrollbar-track {
  background: #2c001e;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #9fa5ad;
  border-radius: 20px;
  border: 3px solid #2c001e;
}

.hover_collapse .sidebar ul li a .text {
  display: none;
}

.sidebar {
  padding-left: 2.5px;
  /* max-width: max-content; */
  width: 12.7rem;
  z-index: 20;
  height: 91vh;
  background: #2c001e;
  padding-bottom: 100px;
  overflow-y: auto;
}




.site-content,
.website-content {
  height: 90vh;
  overflow: auto;
  flex: 1;
  padding-bottom: 2rem;
}

.module-data-section {
padding: 0rem 1rem 2rem 1rem;
}

.sidebar ul li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  /* color: #9FA5AD; */
  color: white;
}

.sidebar ul li a .icon {
  /* font-size: 18px; */
  vertical-align: middle;
}

.sidebar ul li a .text {
  margin-left: 10px;
  font-family: sans-serif;
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: 400;
}

.closebtn {
  display: none;
  margin: 7px auto 0 5px;
}

.avatar,
.avatar2 {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  color: #e95420;
  background-color: #fde6de;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  margin: 5px;
  padding: 2px;
  border: 1px solid;
}

.avatar2 {
  height: 50px;
  width: 50px;
}

.avatar__letters,
.avatar__letters2 {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #e95420;
}

.avatar__letters2 {
  font-size: x-large;
}

.sidebar-dropdown button {
  border: none;
  background-color: transparent;
  color: #9fa5ad;
}

.sidebar .active,
.sidebar ul li a:hover,
.sidebar ul li a:focus {
  background: linear-gradient(90deg, rgba(211, 65, 165, 0.5) 0%, rgba(44, 0, 30, 0.5) 109.21%);
  border-bottom: 1px solid #e95420;
  color: white !important;
}

/* .sidebar .show li:hover{
  background-color: red!important;
} */
a.purple-btn1:hover {
  color: white;
}

.purple-btn1 {
  padding: 5px 10px;
  border: 2px solid #5e2750;
  border-radius: 5px;
  color: white;
  background-color: #5e2750;
  margin: 8px 8px 8px 0px;
}

.pagination {
  background-color: white;
  /* White background for the pagination */
  border-radius: 5px;
  /* Rounded corners */
}

.page-item {
  margin: 0 5px;
  /* Space between items */
}

.page-link {
  padding: 6px 10px !important;
  color: black; /* Text color for links */
  background-color: white; /* White background for links */
  border: 1px solid #5e2750 !important; /* Purple border for links */
  border-radius: 4px; /* Rounded corners for links */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effects */
}

.page-item .page-link {
  color: black;
  /* Text color for links */

}

ul.pagination.justify-content-center {
  justify-content: left !important;
  margin-top: 5px;
}

.page-link:hover {
  background-color: purple;
  /* Purple background on hover */
}

.page-item.disabled .page-link {
  color: gray !important;
  /* Gray color for disabled links */
  background-color: #f9f9f9 !important;
  /* Light gray background for disabled links */
  border: 1px solid gray !important;
  /* Gray border for disabled links */
}

.page-item.active .page-link {
  background-color: #5e2750;
  /* Purple background for the active page */
  color: white;
  /* White text for the active page */
  border: 1px solid #5e2750;
  /* Keep the border purple */
}








.purple-btn1-addroom {
  padding: 5px 10px;
  border: 2px solid #5e2750;
  border-radius: 5px;
  color: white;
  background-color: #5e2750;
  margin: 8px 8px 8px 0px;
}

.purple-btn1-child {
  margin: 0px 4px 3px 4px;
}

.purple-btn1-child2 {
  margin: 0px 4px 3px 4px;
  height: 10px;
  width: 10px;
}

a.purple-btn2 {
  color: #5e2750;
}

.flat-type-container>div:first-child {
  display: none;
}

.purple-btn2 {
  width: 104px;
  height: 34px;
  padding: 5px 10px;
  border: 2px solid #5e2750;
  border-radius: 5px;
  background-color: white;
  color: #5e2750;
  margin: 6px;
  font-weight: 500;
}

.purple-btn2:focus {
  border: 2px solid #5e2750 !important;
}

.purple-btn3 {
  width: 151px;
  height: 34px;
  padding: 5px 10px;
  border: 2px solid #5e2750;
  border-radius: 5px;
  background-color: white;
  color: #5e2750;
  margin: 6px;
  font-weight: 500;
}

.span-collection {
  border: 1px solid gray;
  height: fit-content;
  border-radius: 5px;
  margin: auto 5px;
}

input[type="checkbox"].violet-check,
input[type="checkbox"] {
  accent-color: #77216f;
}

.span-collection .dropdown-toggle::after {
  display: none;
}

.span-collection .btn-group {
  border-left: 1px solid gray;
}

.tbl-container table {
  width: max-content;
}

.tbl-container tr {
  border-bottom: 1px solid #f6eff4 !important;
}

.tbl-container td,
.tbl-container th {
  min-height: 40px;
}

.tbl-container thead {
  background-color: #f6eff4;
  position: sticky;
  top: 0;
  min-height: 50px;
}

.tbl-container td .tbl-container th {
  text-align: left !important;
  border: 1px solid white;
}

.tbl-container th {
  font-weight: 400;
  font-size: 13px;
  border-right: 1px solid white;
  border-left: 1px solid white;
  padding: 10px;
}

.tbl-container td {
  text-align: left !important;
  padding: 5px 10px;
}

fieldset select {
  background: white;
}

fieldset input {
  background: white;
}

.tbl-container {
  height: max-content;
}

.tbl-container table {
  overflow: auto;
  height: 100%;
  margin: 10px 2px !important;
}

::-webkit-scrollbar {
  width: 8px !important;
  height: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0px 1px 4px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #d2c5ce;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  width: 54px;
  background: #c1c1c1;
}

.orange-bg {
  background: #e95420;
  color: white;
  padding: 5px;
  border-radius: 50px;
}

.cancel,
fieldset span {
  color: red;
}

.fieldset-collection {
  display: flex;
  flex-wrap: wrap;
}

legend {
  font-size: 14px !important;
  margin-bottom: -5px !important;
  width: auto !important;
  margin-left: 5px !important;
}

.fieldset-collection label {
  width: max-content;
}

fieldset select,
fieldset input,
fieldset textarea

/* ,table input  */
  {
  border: none;
  height: initial;
  width: -webkit-fill-available;
  padding-left: 3px;
}

fieldset input {
  padding-left: 5px;
}

/*important changes for fieldset */

.asset-detail legend {
  padding: 0 10px;
}

.asset-detail legend {
  background-color: #f6eff4;
}

.fieldset-collection fieldset,
.fieldset-div,
fieldset {
  padding: 0 !important;
  margin: 10px 20px 10px 0;
  /* height: min-content; */
}

.asset-detail fieldset {
  background-color: white;
}

.fieldset-collection label {
  width: max-content;
}

/* single page navigation */
.nav-tabs .active {
  color: white !important;
  background-color: white !important;
  border-color: #dee2e6 #dee2e6 #e95420 #dee2e6 !important;
}

.active-link {
  color: white !important;
  background-color: white !important;
  border-color: #dee2e6 #dee2e6 #e95420 #dee2e6 !important;
}

.nav-tabs button {
  color: #707070 !important;
  background-color: #f8f8f8 !important;
  margin: 4px;
}

.setup .nav-tabs button {
  width: 32%;
}

#cron .nav-tabs button {
  width: 23%;
}

/* single page navigation ends */

.pagination a {
  color: white;
  background-color: #5e2750;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 20px 5px;
}

/* gradiants */
.violet {
  background-image: linear-gradient(to bottom right, #77216f, #39102e);
}

.red {
  background-image: linear-gradient(to bottom right, #e95420, #70280f);
}

.orange {
  background-image: linear-gradient(to bottom right, #fdab3d, #e95420);
}

.green {
  background-image: linear-gradient(to bottom right, #01c875, #01643b);
}

.pink {
  background-image: linear-gradient(to bottom right, #e2445b, #71222e);
}

.green-violat {
  background-image: linear-gradient(to right, #01c875, #77216f);
}

.orange-voilet {
  background-image: linear-gradient(to right, #e95420, #77216f);
}

.voilate-yellow {
  background-image: linear-gradient(to right, #77216f, #fdab3d);
}

.violet-red {
  background-image: linear-gradient(to right, #77216f, #e95420);
}

.brown {
  background-image: linear-gradient(to right, #e95420, #7e2b0e);
}

.red-violet {
  background-image: linear-gradient(to right, #e95420, #77216f);
}

.asset-movement .container-fluid,
.dashboard-movement .container-fluid {
  display: flex;
}

.asset-movement .container-fluid>div,
.dashboard-movement .container-fluid>div {
  width: 25%;
  display: flex;
  margin-right: 10px;
  padding: 5px;
  border-radius: 5px;
  text-align: initial;
}

.dashboard-movement .container-fluid>div {
  width: -webkit-fill-available;
  margin: 0 4px;
}

.asset-movement .container-fluid img,
.dashboard-movement .container-fluid img {
  max-width: 150%;
  margin: auto 10px;
  background: aliceblue;
  border-radius: 50px;
  padding: 5px;
}

/*find and change accorf=ding
 .col-lg-2,
.col-md-2,
.col-sm-2,
.col-lg-3,
.col-md-3,
.col-sm-12 {
  padding: 3px;
} */

.done-icon {
  color: white;
  background: #01c875;
  border-radius: 50px;
  padding: 5px;
  font-weight: 700 !important;
}

.popup-content .text-muted {
  font-size: 12px;
}

.popup-content img {
  font-size: 10%;
}

.progressbar li:first-child:after {
  content: none;
}

.progressbar li {
  float: left;
  width: 15%;
  position: relative;
}

.progressbar {
  margin: 20px 0;
  counter-reset: step;
  width: -webkit-fill-available;
  text-align: center;
}

.progressbar li:before {
  content: counter(step);
  width: 10px;
  height: 10px;
  display: block;
  margin: 5px auto;
  border-radius: 50%;
  background-color: #e95420;
  color: transparent;
}

.progressbar li:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: #e95420;
  top: 10px;
  left: -50%;
  z-index: -1;
}

.location-hr {
  border: 1px solid #ea130c;
  background: #ea130c;
  width: 60%;
  margin: auto 30px;
}

.location-hr:before {
  content: ">";
  display: inline-block;
  position: absolute;
  margin-top: -21px;
  left: 35%;
  font-size: 24px;
  color: #ea130c;
  font-weight: bold;
}

.progressbar span,
.asset-detail span,
/* .progress3 span, */
.text-gray {
  color: gray;
}

.progress3 ul {
  list-style-position: outside;
}

/* .progress3 span{ float: right;}  */

.progress3 li::before {
  content: "•";
  color: #e95420;
  list-style-position: outside;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.edit-del-hover .h-icon {
  display: none;
}

.edit-del-hover:hover .h-txt {
  display: none;
}

.edit-del-hover:hover .h-icon {
  display: block;
  background: gray;
  color: white;
  border: none;
}

.edit-del-hover:hover .h-icon .bi {
  padding: 10px;
}

.fieldset-colored div {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.fieldset-colored legend {
  padding: 0 10px;
  background-color: #f6eff4;
}

.fieldset-colored fieldset {
  background-color: white;
}

.upload-div {
  border: 1px solid orange;
  border-radius: 5px;
  background: #f6eff4;
  border-style: dashed;
  text-align: center;
  padding: 10px;
}

.popup-icon-collection {
  display: flex;
  margin: auto 0 auto auto;
  border-right: 1px solid gray;
}

.popup-icon-collection div {
  margin: auto 10px;
  text-align: -webkit-center;
  cursor: pointer;
}

.popup-content {
  width: 60%;
  left: 20%;
  position: fixed;
  bottom: 20%;
  z-index: 999;
  display: flex;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.asset-count {
  padding: 20px;
  height: unset;
  vertical-align: middle;
  background: #2c001e;
  color: white;
  margin: 0 !important;
  border-radius: 10px 0 0 10px;
}

.file-fieldset {
  border: 1px solid orange;
  border-radius: 5px;
  background: #f6eff4;
  border-style: dashed;
  height: inherit !important;
}

.report-counts>div {
  width: 31%;
}

/* Dashboard begin */
/* Dashboard */
.dashboard-style {
  background-color: #f6eff4;
  /* margin : 15px 0 10px 14em; */
  padding: 20px 10px 80px 15em;
}

.link-toggler a {
  width: 20%;
}

.dashboard-cal {
  width: fit-content;
  background-color: white;
  padding: 5px 10px;
  border: 1px solid #dddddd;
  border-radius: 5px;
}

.dashboard-top-nav {
  display: flex;
}

.link-toggler {
  align-self: center;
  margin: auto;
  background-color: white;
  border-radius: 50px;
  padding: 5px 1px;
  width: fit-content;
  color: gray;
}

.l {
  padding: 5px;
  color: gray;
  text-decoration: none;
}

.l-active {
  background-color: #5e2750;
  color: white;
  border-radius: 50px;
}

.dashboard-counts>div {
  padding: 10px;
  width: 24%;
  text-align: center;
  background-color: #fff0eb;
  /* box-shadow:rgb(0 0 0 / 20%) 1px 2px 5px; */
  border: 1px solid #ebccd0;
  border-radius: 10px;
  margin-right: 6px;
}

.dashboard-counts span {
  color: #e2445b;
  font-size: 24px;
  font-weight: bold;
}

.dashboard-counts small {
  font-size: 12px;
}

.red-txt,
.brown-txt {
  color: red;
  background-color: #ffeeee;
  border-radius: 50px;
  padding: 2px 10px;
}

.yellow-txt {
  color: #c78328;
}

.pink-text {
  color: #e2445b;
}

.dashboard-style th {
  background-color: #f6eff4;
  border: 1px solid#FFFFFF;
  text-align: center;
  padding: 5px 10px;
}

.dashboard-style tr {
  background-color: #ffffff;
  border: 1px solid#F6EFF4;
  text-align: center;
  padding: 5px 10px;
}

.activity-feed,
.fitout-report-value-collection {
  height: 170px;
  overflow-y: auto;
}

.green-count {
  background-color: #effef7;
  border-radius: 20px;
  color: green;
  padding: 4px 10px;
  margin: 2px 8px 5px 8px;
}

.green-count span,
.unallocated-green {
  color: #01c875;
}

.btn-approve,
.btn-reject {
  border: none;
  background-color: #01c875;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  vertical-align: top;
  padding: 5px 10px;
}

.btn-approve span,
.btn-reject span {
  vertical-align: inherit;
}

.btn-approve .material-symbols-outlined,
.btn-reject .material-symbols-outlined {
  background-color: white;
  color: #01c875;
  border-radius: 50px;
}

.btn-reject {
  background-color: #e2445b;
}

.btn-reject .material-symbols-outlined {
  color: #e2445b;
}

.divider-bg {
  background-image: url("./imgs/count-devider.PNG");
  background-position: center center;
  background-size: 50%;
  background-repeat: no-repeat;
}

/* Footer */
.footer {
  position: fixed;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  bottom: 0;
  background-color: black;
  z-index: 10;
  width: 100%;
  text-align: center;
  background-color: white !important;
}

.footer p {
  margin-left: -200px;
  padding: 5px 0 0 0;
}

.footer img {
  width: 8%;
}

/* footer end */

/* asset details calander start */
*.purple-border {
  border: 2px soild #77216f !important;
}

.rd-container {
  border: none !important;
  background-color: #fff;
  padding: 10px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 10px;
}

.rd-container-attachment {
  position: absolute;
}

.rd-month {
  display: inline-block;
  margin-right: 25px;
}

.rd-month:last-child {
  margin-right: 0;
}

.rd-back,
.rd-next {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  padding: 0;
  margin: 0;
}

.rd-back[disabled],
.rd-next[disabled] {
  cursor: default;
}

.rd-back {
  float: left;
  margin-left: 10px;
}

.rd-next {
  float: right;
  margin-right: 10px;
}

.rd-back:before {
  display: block;
  content: "\2190";
}

.rd-next:before {
  display: block;
  content: "\2192";
}

.rd-day-body {
  cursor: pointer;
  text-align: center;
  /* new */
  line-height: 0;
  width: 90px;
  height: 30px !important;
}

/* .rd-day-body {     width: 80% !important; }
.rd-day-body td{min-width: 30px  !important;} */
.rd-day-selected,
.rd-time-selected,
.rd-time-option:hover {
  cursor: pointer;
  background-color: #e95420;
  color: #fff;
  border-radius: 50%;
}

.rd-month-label,
.rd-back:before,
.rd-next:before {
  color: #5e2750;
  font-weight: bold;
  padding-bottom: 7px;
}

.rd-day-prev-month,
.rd-day-next-month {
  color: #ccc;
}

.rd-day-disabled {
  cursor: default;
  color: #fcc;
}

.rd-time {
  position: relative;
  display: inline-block;
  margin-top: 5px;
  min-width: 80px;
}

/* asset details calender end */

.selected-count {
  background-color: #f6eff4;
  color: #5e2750;
  border: 1px solid #5e2750;
  border-radius: 50px;
  padding: 2px 2px 2px 10px;
  margin: 2px 4px 2px 0;
  cursor: pointer;
  display: block;
}

#selected-items p::after {
  margin: 0 5px;
  font-weight: 500;
  color: #5e2750;
  content: "X ";
}

.muli-selection-dropdown {
  min-width: 200px !important;
}

.muli-selection-dropdown li {
  display: flex;
  align-items: center;
}

.muli-selection-dropdown input {
  width: 30px;
}

.drag-area {
  border: 2px dashed #ec7f5c;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: fit-content;
}

::-webkit-file-upload-button {
  background: #f6eff4;
  color: #e95420;
  border: none;
  /* padding: 1em; */
}

.gray-border-input::-webkit-file-upload-button {
  background-color: #f6eff4;
  color: #5e2750;
}

.corn-checkbox span {
  margin: 0 8px;
}

.cancel-txt {
  color: red;
  border: 1px solid red;
  padding: 1px 6px;
  border-radius: 50px;
  cursor: pointer;
}

section ul {
  list-style: none;
  display: flex;
  background-color: #f8f8f8;
  justify-content: space-around;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px;
  padding: 0;
}

.module-menu ul li {
  padding: 5px 10px;
}

.module-menu ul .active {
  color: #e95420;
  border-bottom: 1px solid #e95420;
}

.data-section {
  margin: 5px 10px;
}

.snag-project-list div {
  position: relative;
  text-align: center;
  color: white;
  width: 16%;
  border-radius: 10%;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.snag-project-list .tower-bg {
  width: 100%;
  height: 100%;
  filter: brightness(60%);
  border-radius: 15px;
}

.snag-project-list .go-shadow {
  width: 200px;
  height: 150px;
}

.snag-project-list .go-shadow {
  padding: 0;
  margin: 15px 30px 15px 0;
}

.snag-project-list .edit-img,
.edit-img {
  position: absolute;
  right: 7%;
  top: 7%;
}

.snag-project-list .form-switch {
  position: absolute;
  right: 5%;
  top: 80%;
}

.snag-project-list p {
  font-weight: normal;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.orange-add-symbol {
  border: 3px solid #e95420;
  border-radius: 50%;
  padding: 10px 12px;
  color: #e95420;
  border-style: dashed;
  font-weight: bold;
}

.tower-details,
.room-details {
  display: grid;
  grid-template-columns: 20% 79%;
  grid-gap: 10px;
  justify-content: center;
  width: fit-content;
}

.room-details {
  width: inherit;
}

.tower-details ul,
.room-details ul {
  background: #f6eff4;
  border-radius: 8px;
  display: block;
  padding: 15px 0;
}

.room-details ul a {
  color: #77216f;
}

.tower-details li,
.room-details li {
  padding: 0.4rem;
  margin-bottom: 10px;
}

.floor-wise-status {
  display: grid;
  grid-template-columns: repeat(30, 130px);
  gap: 10px;
  margin-bottom: 2px;
}

.red-horizontal-indicator {
  width: 36px;
  height: 4px;
  background: #d51818;
  border-radius: 5px;
}

.green-horizontal-indicator {
  width: 36px;
  height: 4px;
  background: #157a6e;
  border-radius: 5px;
}

.yellow-horizontal-indicator {
  width: 36px;
  height: 4px;
  background: #dca900;
  border-radius: 5px;
}

.pink-vertical-indicator {
  background: #ca329e;
  border-radius: 15px;
  width: 4px;
}

.flats-container-grid {
  display: grid;
  grid-template-columns: 2% 98%;
}

.flats-container-grid-data {
  display: flex;
  justify-content: space-around;
  border-radius: 3px;
  margin: 0 5px 1px 5px;
  padding: 0;
  border: 1px solid #b4a6b0;
}

.flats-container-margin {
  margin-left: 75px !important;
}

.flats-container-grid-data a {
  padding: 5px;
}

.tower-data-container {
  overflow-x: auto;
  margin: 7px 0 0 -89px;
}

.flats-container-empty-grid {
  background-color: #b4a6b0;
  border-radius: 3px;
  margin: 0 5px 1px 5px;
}

.flats-container {
  display: grid;
  grid-template-columns: repeat(30, 130px);
  gap: 10px;
  margin-bottom: 15px;
}

.floor-list .active a,
.floor-list .active {
  background: white;
  margin: 0 0 15px 10px;
  padding-left: 0;
  border-top-left-radius: 50px;
  color: #77216f !important;
  border-bottom-left-radius: 50px;
  font-weight: 500;
}

.floor-list-sec {
  height: 235px;
  width: 116px;
  border-radius: 10px;
  margin-left: 10px;
}

.entity-detail-accordion .go-shadow {
  border-left: 5px solid #5e2750;
}

.entity-detail-accordion .accordion-button:not(.collapsed) {
  color: #5e2750 !important;
}

.voilate-box-group div {
  background-color: #f6eff4;
  margin: 10px;
  padding: 5px 10px !important;
}

.entity-detail-accordion img {
  width: 15%;
  margin: 10px;
  border-radius: 5px;
}

/* snag stpper below */
.stepper-wrapper,
.ca-stepper-wrapper {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 20px; */
  margin-right: 7px;
}

.stepper-item {
  position: relative;
  flex-direction: column;
  align-items: center;
  flex: 1;
  font-weight: 500;

  @media (max-width: 768px) {
    font-size: 12px;
  }
}

.stepper-item::before {
  position: absolute;
  content: "";
  border-bottom: 2px dashed #ccc;
  width: 100%;
  top: 20px;
  left: -50%;
  z-index: 2;
}

.stepper-item::after {
  position: absolute;
  content: "";
  border-bottom: 2px dashed #ccc;
  width: 100%;
  top: 20px;
  left: 50%;
  z-index: 2;
}

.stepper-item .step-counter,
.stepper-item .step-counter2,
.stepper-item .step-counter3 {
  position: relative;
  z-index: 5;
  width: 90%;
  display: flex;
  justify-content: center;
  padding: 10px;
  border-radius: 40px;
  background: #f6eff4;
  color: #b4a6b0;
  margin-bottom: 6px;
}

.stepper-item .step-counter a,
.stepper-item .step-counter2 a,
.stepper-item .step-counter3 a {
  color: #b4a6b0;
}

.stepper-wrapper .active .step-counter,
.stepper-wrapper .active .step-counter2,
.stepper-wrapper .active .step-counter3 {
  border: 1px solid #e95420;
  color: #e95420;
  background-color: white;
  font-weight: bold;
}

.stepper-wrapper .completed .step-counter,
.stepper-wrapper .completed .step-counter2,
.stepper-wrapper .completed .step-counter3 {
  color: #e95420;
  vertical-align: text-top;
  background-color: #fff;
  border: 1px solid #e95420;
}

.stepper-wrapper .completed .step-counter a,
.stepper-wrapper .completed .step-counter2 a,
.stepper-wrapper .completed .step-counter3 a {
  color: #e95420;
}

.stepper-item.completed .step-counter span,
.stepper-item.completed .step-counter2 span,
.stepper-item.completed .step-counter3 span {
  color: #fff;
  font-weight: bold;
  background-color: #e95420;
}

.step-counter3,
.ca-stepper-item {
  max-width: 200px !important;
  /* width: 200px !important; */
  width: 175px !important;
  margin: auto 10px;
}

.stepper-wrapper .active span {
  background-color: #e95420;
  color: white;
  padding: 0 7px;
  border-radius: 50%;
  margin: 0 5px;
}

.stepper-wrapper span {
  background-color: white;
  padding: 0 7px;
  border-radius: 50%;
  margin: 0 5px;
}

.stepper-item.completed::after {
  position: absolute;
  content: "";
  border-bottom: 2px dashed #e95420;
  color: white;
  width: 100%;
  top: 20px;
  left: 50%;
  z-index: 3;
}

.stepper-item:first-child::before {
  content: none;
}

.stepper-item:last-child::after {
  content: none;
}

.floor-details-container {
  display: flex !important;
  flex-wrap: wrap;
  justify-content: center;
}

.floor-details-container p,
.flat-type-container p {
  display: flex;
  justify-content: space-between;
  background-color: white;
  color: #77216f;
  width: 92%;
  height: 35px;
  border-radius: 5px;
  margin: 3px auto;
  padding: 3px 7px;
}

.flatType2 {
  width: 132px !important;
  font-size: 12px;
  padding-top: 6px !important;
  border-radius: 4px;
}

.floor-details-container p.active,
.flat-type-container p.active {
  border: 1px solid #5e2750;
}

.floor-details-container .active {
  border: 3px solid #e95420;
}

.floor-details-container,
.flat-type-container,
.left-border-divs {
  display: flex;
  overflow-x: auto;
  max-width: 100%;
  white-space: nowrap;
  /* justify-content: start; */
}

.floor-details-container .go-shadow {
  background-color: #f3f3f3;
  margin: 15px;
  width: 17%;
  height: 600px;
  overflow-y: auto;
}

.floor-details-container-child {
  height: 530px;
  overflow-y: auto;
  cursor: pointer;
}

.floor-container-lg .go-shadow {
  width: 20% !important;
}

.colorpick-eyedropper-input-trigger {
  display: none;
}

.color-picker {
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  appearance: none;
  width: 30px;
  height: 30px;
  border: none;
  padding: 0;
}

.color-picker::-webkit-color-swatch {
  border-radius: 7px;
  border: none;
}

.color-picker::-moz-color-swatch {
  border-radius: 7px;
  border: none;
}

/* .flat-type-container div {
  margin: 10px;
  width: 31%;
  height: 400px;
  position: relative;
  background-color: #f3f3f3;
  /* overflow-y: auto;
  overflow-x: hidden; */
/* overflow: hidden; */
/* } */
*/ .flat-type-container {
  overflow-x: auto;
  white-space: nowrap;
}

.flat-type-container div {
  display: inline-block;
  margin: 10px;
  width: 31%;
  height: 400px;
  position: relative;
  background-color: #f3f3f3;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 10px;
}

/* Style for the search bar */
.search-bar {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

/* Style for the checkboxes */
.checkbox {
  margin-bottom: 5px;
}

/* Style for the "Done" button */
.done-btn {
  background-color: #4caf50;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.flatTypeSize {
  height: 33px;
  /* width: 234px; */
  border: 0 !important;
}

.violet-dropdown {
  width: 200px;
  color: #77216f;
  padding: 3px;
  margin: 12px auto;
  background: #f6eff4;
  border: 2px solid #77216f;
  border-radius: 3px;
}

.stages-container select {
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: 5px 0;
  width: 95%;
  padding: 2px;
}

.pending-count,
.wip-count,
.complete-count {
  font-weight: bold;
  border-radius: 5px;
  padding: 3px 8px;
  margin: 2px;
}

.pending-count {
  background-color: #feedef;
  color: #e2445b;
}

.wip-count {
  background-color: #fcf2e4;
  color: #ea9b30;
}

.complete-count {
  background-color: #eafaf4;
  color: #00b167;
}

.flat-type-container input[type="text"],
.gray-border-input {
  border: 1px solid lightgray !important;
  padding: 3px;
  border-radius: 3px;
}

.flat-type-container .btn-grp button {
  width: 35%;
}

.flat-type-container .go-shadow .btn-grp {
  position: absolute;
  height: 50px;
  top: 85%;
  left: 35%;
  display: flex;
  transform: translate(-20%, -20%);
}

.y-scroll {
  overflow-y: auto;
}

.flat-type-container .go-shadow .y-scroll {
  height: 194px;
}

.floor-details-container .go-shadow {
  position: relative;
}

.floor-details-container .btn-grp {
  position: absolute;
  height: 50px;
  top: 85%;
  left: 20%;
  justify-content: center;
  display: flex;
  transform: translate(-20%, -20%);
  width: -webkit-fill-available;
}

.mandy-btn,
.green-btn,
.yellow-btn,
.plum-btn,
.cornflower-btn {
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin: 5px;
}

.mandy-btn,
.mandy-vertical-indicator {
  background-color: #e2445b;
}

.green-btn,
.green-vertical-indicator {
  background-color: #01c875;
}

.yellow-btn,
.yellow-vertical-indicator {
  background-color: #fdab3d;
}

.plum-btn,
.plum-vertical-indicator {
  background-color: #ca329e;
}

.cornflower-btn,
.cornflower-vertical-indicator {
  background-color: #811bbd;
}

.mandy-vertical-indicator,
.green-vertical-indicator,
.yellow-vertical-indicator,
.plum-vertical-indicator,
.cornflower-vertical-indicator {
  border-radius: 15px;
  width: 6px;
  z-index: 1;
}

.flats-container-grid-data2 {
  display: flex;
  justify-content: space-around;
  border-radius: 3px;
  margin: 0;
  padding: 1px;
  border: none;
  background: #ececec;
}

nav button.nav-link {
  min-width: 100px;
}

.stages-container .go-shadow {
  height: 150px;
  width: 30%;
  margin: 10px 20px 10px 0;
}

.stages-container .btn-grp {
  top: 70%;
}

.form-switch .on-off-toggler.form-check-input {
  background-color: #e2445b;
  border: #e2445b;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e") !important;
}

td {
  max-width: max-content;
  min-width: min-content;
}

.flat-unit .flats-container {
  display: grid;
  grid-template-columns: repeat(30, 100px);
  gap: 10px;
  margin-bottom: 17px;
}

.flat-type-container.stages-container .btn-grp {
  top: 70%;
}

.purple-upload {
  background-color: #77216f;
  color: white;
  border-radius: 50px;
  text-align: center;
  padding: 3px;
}

.left-border-divs {
  display: flex;
  flex-wrap: wrap;
}

.left-border-divs div {
  background-color: #f3f3f3;
  border-left: 5px solid #fdab3d;
  width: 22%;
  margin: 10px 20px 10px 0;
}

select {
  border: 1px solid lightgray;
  padding: 2px;
  border-radius: 3px;
  width: auto;
}

input[type="checkbox"].violet-check {
  accent-color: #77216f;
}

meter::-webkit-meter-bar {
  background-color: #f6eff4;
  border: none;
  width: 100px;
}

/* radio button style below */

.radio-collection [type="radio"]:checked,
.radio-collection [type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

.radio-collection [type="radio"]:checked+label,
.radio-collection [type="radio"]:not(:checked)+label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
}

.radio-collection [type="radio"]:checked+label:before,
.radio-collection [type="radio"]:not(:checked)+label:before {
  content: "";
  position: absolute;
  left: 5px;
  top: 5px;
  width: 11px;
  height: 11px;
  border: 1px solid gray;
  border-radius: 100%;
  background: #fff;
}

.radio-collection [type="radio"]:checked+label:after,
.radio-collection [type="radio"]:not(:checked)+label:after {
  content: "";
  width: 15px;
  height: 15px;
  border: 5px solid #77216f;
  position: absolute;
  margin-top: 3px;
  margin-left: 3px;
  top: 0;
  left: 0;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.radio-collection [type="radio"]:not(:checked)+label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.radio-collection [type="radio"]:checked+label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* radio button style above */

#mcqinfo select {
  margin-left: -7px;
}

.quest-width {
  width: 250px;
}

.ca-stepper {
  overflow-x: scroll;
  overflow-x: none;
}

#t1 {
  display: none;
}

.input-td {
  width: 444px;
  text-align: center;
}

.img-td {
  width: 40px;
  height: 40px;
  border-radius: 5px;
}

.usr-avatar {
  width: 80px;
  height: 80px;
}

.floor-details-container .go-shadow .y-scroll {
  height: 73%;
  /* adject height for PROJECT ASSOCIATED */
}

.status-danger {
  border-left: 3px solid red;
  padding-left: 5px;
}

.status-warning {
  border-left: 3px solid #ffc107;
  padding-left: 5px;
}

.status-success {
  border-left: 3px solid #008c4d;
  padding-left: 5px;
}

.status-info {
  border-left: 3px solid blue;
  padding-left: 5px;
}

.color-input {
  width: fit-content;
  border: 1px solid lightgray;
}

.color-input input[type="color"] {
  background: white;
  /* border: 1px solid lightgray; */
  border: none;
  padding: 2px;
  border-radius: 5px !important;
  margin-left: -20px;
  width: revert;
  height: auto;
}

.qr-img {
  height: 200px;
  width: 200px;
  margin: auto;
}

.image-preview-container {
  width: 50%;
  margin: 0 auto;
}

.image-preview-container img {
  width: 100px;
  height: 100px;
  margin: auto;
  border-radius: 50%;
}

.image-preview-container input {
  display: none;
}

.owner-circle,
.tenant-circle,
.primary-circle,
.secondary-circle,
.live-here-circle,
.tower-circle {
  font-size: 10px;
  vertical-align: baseline;
}

.owner-circle {
  color: #db2828 !important;
}

.tenant-circle {
  color: #00c0ef;
}

.primary-circle {
  color: #e03997;
}

.secondary-circle {
  color: #ece9e9;
}

.live-here-circle {
  color: #21ba45;
}

.tower-circle {
  color: #b5cc18;
}

.no-toggle-icon.dropdown-toggle::after {
  display: none;
}

input[type="checkbox"].violet-check {
  accent-color: #77216f;
}

.Details-img-avatar {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 1px solid rgb(122, 122, 245);
  padding: 2px;
}

/* checklist dependent start */

.div-sec1-k {
  overflow: auto;
  max-height: 467px;
}

.div-sec1-k-main {
  background-color: #f3f3f3;
  margin-left: 0px;
}

.div-sec1-k::-webkit-scrollbar {
  width: 6px;
}

.circle-container-top {
  display: flex;
}

.circle-container-bottom {
  display: flex;
  justify-content: space-between;
  margin: 0 8px;
}

.circle-p {
  font-size: 12px;
  font-weight: 600;
  color: #77216f;
  width: 159px;
  height: 0px;
  padding-left: 5px;
}

.circle-p2 {
  font-size: 14px;
  color: #77216f;
  /* width: 159px; */
  height: 0px;
  padding: 0px 0 0 5px;
}

.circle-p2-big {
  font-size: 14px;
  color: #77216f;
  width: 159px;
  height: 0px;
  padding: 5px 0 0 5px;
}

.flex-column-child {
  padding: 0;
  margin-left: 18px;
}

.flex-column-child2 {
  padding: 0;
  margin-left: 44px;
}

.check-input {
  margin-top: 19px;
}

.check2 {
  margin-left: 10px;
}

.circle1-main {
  width: 13px;
  height: 14px;
  border-radius: 50%;
  margin: 5px;
  background-color: #77216f;
  color: white;
  text-align: center;
  font-size: 9px;
  position: relative;
}

.circle1 {
  width: 13px;
  height: 14px;
  border-radius: 50%;
  margin: 5px;
  background-color: #77216f;
  color: white;
  text-align: center;
  font-size: 9px;
  position: relative;
}

.circle1::before {
  position: absolute;
  content: " ";
  border-bottom: 1px dashed #ccc;
  width: 62%;
  top: 7px;
  left: -62%;
  z-index: 2;
}

.circle2-main {
  width: 13px;
  height: 14px;
  border-radius: 50%;
  margin: 5px;
  background-color: #77216f;
  color: white;
  align-items: center;
  text-align: center;
  font-size: 9px;
}

.circle2 {
  width: 13px;
  height: 14px;
  border-radius: 50%;
  margin: 5px;
  background-color: #77216f;
  color: white;
  align-items: center;
  text-align: center;
  font-size: 9px;
  position: relative;
}

.circle2::before {
  position: absolute;
  content: " ";
  border-bottom: 1px dashed #ccc;
  width: 597%;
  top: 6.5px;
  left: -614%;
  z-index: 2;
}

.circle2-sec {
  width: 17px;
  height: 17px;
  background-color: #f6eff4;
  font-size: 12px;
  text-align: center;
  margin-left: 3px;
  color: #77216f;
}

.circle+.circle {
  margin-left: -2px;
  border-left: none;
}

.div-sec1-1 {
  width: 241px;
  height: 89px;
  background-color: white;
  margin: 10px 6px 10px 6px;
  border-radius: 5px;
  border: 1px solid #5e2750;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 5px;
}

.div-sec2-k {
  padding: 0px 10px 0px 10px;
}

.div-sec1-2 {
  width: 100%;
  height: 40px;
  background-color: #f6eff4;
  display: flex;
  color: #5e2750;
  justify-content: space-around;
}

.div-sec1-2-p {
  margin: 9px 40px 0px 0px;
  font-weight: 700;
}

.div-sec1-2-p2 {
  margin: 10px 15px;
  font-weight: 700;
}

.div-sec1-2-child {
  width: 241px;
  height: 53px;
  background-color: #f6eff4;
  margin: 15px 14px;
  position: relative;
}

/* .div-sec1-2-child::before {
  position: absolute;
  content: "";
  border-bottom: 1px solid #77216f;
  width: 14%;  
  top: 25%;  
  left: 100%;
  transform: translateY(-50%); 
  z-index: 0;
} */
/* .div-sec1-2-child2 {
  width: 241px;
  height: 53px;
  background-color: #f6eff4;
  margin: 15px 16px;
} */
.collapse-style {
  background-color: #f6eff4;
  margin: 14px;
  border-radius: 5px;
}

.collapse-style-child {
  background-color: pink;
  margin: 7px 20px;
  border-radius: 5px;
  color: #5e2750;
}

.accordion-button-bg {
  background-color: #f6eff4;
  padding: 0;
}

.accordion-button-bg:focus {
  background-color: #f6eff4 !important;
}

.padding-input {
  padding-left: 2rem;
}

.small-button {
  width: 15px;
  height: 15px;
  margin: 10px 0 0 8px;
}

.small-input2 {
  margin: 3px 0 0 1px;
}

.small-button2 {
  width: 15px;
  height: 15px;
  margin: 10px 0 0 10px;
}

.small-input {
  margin: 6px 0 0 28px;
}

.small-input3 {
  margin: 7px 0 0 28px;
}

.margin-top-k {
  margin: 7px 0 0 5px;
}

.post-activity {
  font-weight: 600 !important;
}

/* add project css start */
.addproject-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f8f9fa;
  padding: 20px;
}

.addproject-form h2 {
  margin-bottom: 20px;
}

.form-control {
  border: none;
  border-radius: 0;
  color: #8c8c8c;
}

.form-control::focus {
  box-shadow: none !important;
}

.createproject-btn {
  height: 35px;
  border-radius: 4px;
  width: 121px;
  font-size: 12px;
}

#k-btn {
  background-color: #39102e;
  color: #fff;
}

#normal-btn {
  color: #39102e;
  border: 1px solid #39102e;
}

/* add project css end */
/* add floor popup */
.addFloor-btn {
  width: 110px;
  height: 34px;
  border-radius: 4px;
  color: #77216f;
  border: 1px solid #77216f;
  background-color: #ffff;
  margin: 0px 15px 0px 15px;
  font-weight: 500;
}

.addFloor-btn-input {
  width: 110px;
  height: 34px;
  border-radius: 4px;
  color: #77216f;
  border: 1px solid #77216f;
  background-color: #ffff;
  margin: 0px 15px 0px 15px;
  font-weight: 500;
}

.addFloor-btn-input:focus {
  border: 1px solid #77216f;
}

.addFloor-btn.active {
  background-color: #77216f;
  color: white;
}

.addFloor-btn2 {
  width: 160px;
  height: 37px;
  border-radius: 4px;
  color: #fff;
  background-color: #5e2750;
  margin: 45px 15px 13px 46px;
  font-weight: 600;
  border: 0;
}

.draggable {
  cursor: pointer;
  user-select: none;
}

.h4-txt-main {
  color: #5e2750;
  margin-left: 6px;
}

.h4-txt {
  color: #5e2750;
}

.towera-edit {
  margin: 0px 0px 7px 9px;
}

.tower-img {
  width: 8.5px;
  height: 11.5px;
}

.heading-high {
  font-weight: 600;
}

/* add floor popup end*/

/* add flat type */
.select-btn {
  background-color: #fff;
  width: 244px;
  height: 35px;
  border: 2px solid #77216f;
  border-radius: 4px;
  color: #77216f;
}

.select-btn-font {
  font-size: 14px;
  font-weight: 500;
  padding-right: 20px;
  padding-right: 130px;
}

.purple-btn1-save {
  border: 2px solid #5e2750;
  border-radius: 5px;
  color: white;
  background-color: #5e2750;
  margin: 8px 8px 8px 0px;
  height: 28px;
  width: 99px;
}

.check-addFlat {
  color: #77216f;
  font-size: 13px;
  font-weight: 400 !important;
  text-align: start;
}

/* add flat type end*/

.modal-select-child {
  border: 1px solid #77216f !important;
  color: #5e2750;
  padding: 5px;
  margin: 10px 15px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 137px !important;
  height: 35px;
  font-size: 10px;
  background-color: #fff;
  font-weight: bold !important;
}

.modal-select-end {
  border: 1px solid #77216f !important;
  color: #5e2750;
  padding: 5px;
  margin: 10px 15px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  width: 137px !important;
  height: 35px;
  font-size: 10px;
  background-color: #fff;
  font-weight: bold !important;
}

.material-symbols-outlined {
  margin-left: auto;
}

.material-symbols-outlined-k {
  margin-left: 75px;
}

.addRoomModal-btn {
  width: 150px !important;
  height: 35px !important;
  border: 1px solid !important;
}

.addRoomModal-addbtn {
  width: 150px !important;
  height: 35px !important;
  border: 1px solid !important;
}

.pro-associated {
  height: 250px !important;
}

/* USER section start */
.width83 {
  width: 83px;
}

.modal-header-height {
  height: 50px;
}

.gray-border-input::placeholder,
.gray-border-input option {
  color: #9b9b9b;
  padding: 4px;
}

.form-control::focus {
  box-shadow: none;
}

.form-control::placeholder {
  color: #9b9b9b;
  text-align: left;
  padding: 0px 0px 4px 4px;
}

/* USER section end */

/* ROLE section start */
.role-th {
  width: 165px;
}

.role-td-main {
  text-align: center;
  width: 70px;
}

.role-td {
  text-align: center;
}

/* ROLE section start */
/* CHECKLIST section start */
.addQ-img {
  height: 24px;
  width: 24px;
  padding: 1.5px 0px 0px 1.5px;
}

.addFocus {
  border: 1px solid red !important;
}

.active-dark {
  background-color: #5e2750 !important;
  color: #fff !important;
}

/* CHECKLIST section end */
.checkbox-edit {
  height: 15px;
  width: 20px;
}

/* Add other styles for your radio input and label if necessary */

/* Home snagging start */
.unit-btn {
  background-color: #ffff !important;
  color: #5e2750;
}

.accordion-head {
  color: black;
}

.collaps-img {
  display: flex;
  overflow-x: auto;
}

.cpllaps-img-child {
  padding-right: 10px;
  height: 160px;
  width: 150px;
}

/* Home snagging end */
/* new sidebar css start */
.collapse-logo {
  padding-left: 23px;
  transition: transform 0.3s ease-in-out;
}

.div-sec1-2-sec {
  overflow-y: auto;
}

/* new sidebar css end */
/* Media Query for Mobile Devices */
@media only screen and (min-width: 280px) and (max-width: 767px) {
  .div-main-k {
    flex-direction: column;
  }

  .div-sec1-k {
    max-height: none;
    width: 100% !important;
    margin: 10px;
  }

  .div-sec2-k {
    width: 100% !important;
  }

  .div-sec1-1 {
    width: 98%;
  }

  .div-sec1-2 {
    width: 104%;
    height: 56px;
  }

  .div-sec1-2-sec {
    overflow-x: scroll;
  }

  .div-sec1-2-child {
    width: 239px;
    height: 60px;
    background-color: #f6eff4;
    margin: 10px;
  }

  .div-sec1-2-child2 {
    width: 300px;
    height: 60px;
    background-color: #f6eff4;
    margin: 10px;
  }

  .div-sec1-2-p {
    font-weight: 500;
    font-size: 10px;
    margin: 5px 10px;
  }

  .div-sec1-2-p2 {
    margin: 10px;
    font-size: 10px;
  }

  /* .flex-column-child {
  padding: 0;
  margin-left: 88px;
} */
  .floor-details-container {
    flex-direction: column;
    align-items: center;
  }
}

/* Media Query for Tablet Devices */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .div-main-k {
    flex-direction: column;
  }

  .div-sec1-k {
    max-height: 360px;
  }

  .div-sec1-2 {
    width: 100%;
  }

  .div-sec1-2-child {
    width: 229px;
    margin: 18px;
  }

  .div-sec1-2-child2 {
    width: 240px;
    margin: 10px;
  }

  .div-sec1-2-sec {
    overflow-x: scroll;
  }

  .div-sec1-k {
    height: auto;
    width: 100% !important;
  }

  .div-sec2-k {
    width: 100% !important;
  }

  .div-sec1-2-child {
    margin: 7px;
  }

  .div-sec1-2-child2 {
    margin: 7px;
  }

  .div-sec1-1-main {
    width: 100%;
    height: 132px;
    overflow-x: auto;
    white-space: nowrap;
  }

  .div-sec1-1 {
    display: inline-block;
    width: 241px;
    height: 89px;
    background-color: white;
    margin: 10px 6px;
    border-radius: 5px;
    border: 1px solid #5e2750;
  }

  .circle-container-bottom {
    display: flex;
    justify-content: space-between;
    margin: 0 8px;
    margin-top: 8px;
  }

  .margin-top-k {
    margin-top: 8px;
  }

  .small-button {
    width: 15px;
    height: 15px;
    margin: 10px 0 0 7px;
  }

  .small-input {
    margin: 3px 0 0 0px;
  }

  .flex-column-child2 {
    padding: 0;
    margin-left: 18px;
  }
}

/* checklist dependent end */

.asset2 {
  width: 85%;
}

.asset2-child {
  width: 75%;
  height: 80px;
  border: 0;
  padding-top: 15px;
  border-radius: 10px;
  background-color: #f6eff4;
}

#asset2-aTag {
  color: black;
  border-bottom: 1px solid;
}

.asset1 {
  width: 15% !important;
  padding: 10px 0px 4px 0px;
  width: 136px;
  /* padding-right: 4px; */
  padding: 4px 60px 4px 4px;
}

/* Match the column css start */
.stems,
.options {
  width: 40%;
  margin-right: 5%;
  float: left;
}

/* .stems li,
.options li {
   
} */

/* .stems li:hover,
.options li:hover {
   
} */

.stems li.matched,
.options li.matched,
.stems li.matched:hover,
.options li.matched:hover {
  background: #aaccaa;
}

.stems li.selected,
.options li.selected,
.stems li.selected:hover,
.options li.selected:hover {
  background: #a9ffa9;
  font-weight: bold;
  /* box-shadow: 1px 2px 1px #666; */
}

.line {
  width: 50%;
  height: 2px;
  background-color: #f6eff4;
  z-index: 1;
}

.line.highlighted {
  background-color: #5e2750;
  /* box-shadow: 1px 2px 1px #666; */
  height: 1px;
  z-index: 99;
}

.line .point {
  width: 0;
  height: 0;
  margin: -5.5px -3px 0 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 16px solid #e5e5e5;
  float: right;
}

.line.highlighted .point {
  border-left: 11px solid #5e2750;
}

/* Match the column css  */

@media only screen and (max-width: 1200px) {
  .stepper-wrapper {
    overflow-x: auto;
  }

  .div-sec1-1 {
    display: inline-block;
    width: 319px;
    height: 89px;
    background-color: white;
    margin: 10px 6px;
    border-radius: 5px;
    border: 1px solid #5e2750;
  }

  .step-counter,
  .stepper-item {
    max-width: 150px !important;
    width: 150px !important;
    margin: auto 30px;
  }

  .step-counter2,
  .stepper-checklist-map2 {
    max-width: 250px !important;
    width: 250px !important;
    margin: auto 10px;
  }

  /* check for project-configure-tower page */
  .floor-details-container .go-shadow {
    width: 25%;
  }
}

@media only screen and (max-width: 992px) {
  body {
    overflow-x: hidden;
  }

  .go-logo {
    max-width: 40%;
  }

  .closebtn {
    display: block;
  }

  .sidebar {}

  .site-content,
  .website-content {
    margin: 0;
  }

  .dashboard-style {
    margin: 0;
    padding: 20px 15px 80px 15px;
  }

  .asset-movement .container-fluid,
  .dashboard-movement .container-fluid {
    flex-wrap: wrap;
    display: block;
    text-align: -webkit-center;
  }

  .navbar .nav-item {
    margin: auto;
  }

  /* asset cout containers */

  .asset-movement .container-fluid>div,
  .dashboard-movement .container-fluid>div {
    margin: 10px;
  }

  .dashboard-counts>div {
    width: 50% !important;
  }

  .dashboard-top-nav {
    display: block !important;
  }

  .navbar {
    text-align: center;
  }

  .navbar .active {
    margin: auto;
    vertical-align: middle !important;
    padding-right: 10px !important;
    padding-left: 10px !important;
  }

  .top-nav-right {
    display: block;
  }

  /* main page contanint asection */
  .col-xl-10 {
    padding: 20px !important;
  }

  .tbl-container .w-100 {
    width: max-content !important;
  }

  .report-counts>div {
    width: 40%;
  }

  .snag-project-list div {
    width: 20%;
  }

  /* top navigation */
  .go-logo {
    max-width: 25%;
  }

  section ul {
    overflow-x: scroll;
  }

  .closebtn {
    display: block;
  }

  .floor-details-container .go-shadow {
    width: 90%;
  }

  .flat-type-container div {
    width: 40%;
  }
}

@media only screen and (max-width: 600px) {

  .asset-movement .container-fluid>div,
  .dashboard-movement .container-fluid>.div {
    width: 50%;
  }

  .container-fluid {
    width: 100%;
  }

  .dashboard-asset .container-fluid>div {
    display: block !important;
  }

  .snag-project-list div {
    width: 40% !important;
  }

  section ul {
    padding-left: 200px;
  }

  .tower-details,
  .room-details {
    grid-template-columns: 30% 69%;
  }

  .floor-details-container .go-shadow {
    width: 70% !important;
  }

  .flat-type-container div {
    width: 70%;
  }
}

@media only screen and (max-width: 400px) {
  .fieldset-collection {
    display: block;
  }

  .report-counts>div {
    width: 100% !important;
  }

  section ul {
    padding-left: 290px;
  }

  .dashboard-movement .container-fluid {
    display: block;
  }

  .snag-project-list div {
    width: 100% !important;
  }

  .tower-details,
  .room-details {
    grid-template-columns: 40% 60%;
  }
}

/* ----------------sort me------------------- */

/* below setion is for module navigation */
section a {
  display: inline-block;
  padding: 5px 15px;
  color: black;
  text-decoration: none;
}

section a:hover,
a.active {
  color: #e95420;
  /* border-bottom: 1px solid #e95420; */
}

section select {
  display: none;
}

/* above section is for module navigation */

/* section is for select option */
.custom-select {
  border: none;
  /* Remove the border */
  height: 30px;
  /* Adjust height as needed */
  padding: 0.2rem;
  /* Adjust padding */
  font-size: 0.85rem;
  /* Adjust font size */
}

/* modal */
/* .modal-content { */
/* border-radius: 0; Remove rounding from corners */
/* } */

/* .modal-btn{
width: 317px;
height: 35px;
top: 503px;
left: 802px;
gap: 0px;
border-radius: 5px 0px 0px 0px;
border: 1px 0px 0px 0px;
opacity: 0px;

} */
/* Above section is for modal */

/* Member details */
.member-detail-color {
  color: #6c757d;
}

.middle-box-text {
  font-size: 16px;
  line-height: 20px;
  height: 20px;
  width: 56px;
  text-align: center;
  border: #e1e1e1;
}

.no-top-left-shadow {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.16), 0px 0px 0 rgba(255, 255, 255, 0);
  /* Remove shadow from top and left */
  border-top: 0px;
  border-left: 0px;
}

.form-check-input:checked {
  background-color: orange;
  /* Change the background color to orange */
  border-color: orange;
  /* Change the border color to orange */
}

/* Above section is for member details */

/* tier setting */

.tier-setting-card {
  margin-bottom: 20px !important;
  background-color: #e954201a !important;
  /* border-radius: 5px; */
  /* box-shadow: 0px 2px 5px 0px #0000001F; */
  box-shadow: 2px 2px 2px 0px #0000001F;

  /* border: 1px solid transparent; */
}

/* .... */

/* kartik css for loyalty */
.border-btm {
  border-bottom: 1px solid #00000077;
}

.setRuleCard {
  background-color: #ec6e41a5;
  color: #e95420;
}

.setRuleCard2 {
  background-color: #9ef35954;
  color: #9ce463;
  border: 0;
  font-weight: 500;
  font-size: 14px;
  padding: 4px 10px;
  border-radius: 5px;
}

.setRuleCard2 :hover {
  background-color: #9ef35954;
  color: #87ea37;
  font-size: 14px;
}

.And-btn {
  background-color: #d341a51a;
  padding: 0 10px;
}

.and-or-btn {
  background-color: #5e27503d;
  color: #5e2750;
  border-radius: 5px;
  padding: 0px 19px;
  font-size: 16px;
  font-weight: 700;
}

.main-content {
  display: flex;
}

.no-hover {
  background: none !important;
  /* Reset background to none to prevent hover color changes */
  color: inherit !important;
  /* Ensure text color does not change */
}

.dropdown-item.no-hover,
.dropdown-item.no-hover:hover,
.dropdown-item.no-hover:focus,
.dropdown-item.no-hover:active {
  background-color: transparent !important;
  color: inherit !important;
  outline: none !important;
  box-shadow: none !important;
}

/* Prevent any focus or active state background color changes */
.dropdown-item:focus,
.dropdown-item:active {
  background-color: transparent !important;
  outline: none !important;
  box-shadow: none !important;
}

.submit-back {
  background-color: #5e2750 !important;
  border: 0 !important;
  padding: 5px 20px !important;
  margin: 8px 8px 8px 0px !important;
}

/* kartik css for loyalty */



/* section is for create rule engine */



/* Remove box shadow from the select element */
.shadow-none {
  box-shadow: none !important;
  /* Ensures no shadow */
}

/* Optional: Style the focus state */
.form-select:focus {
  box-shadow: none;
  /* No shadow on focus */
  border-color: transparent;
  /* Optional: makes the border color transparent */
}


/* create rule engine end */

/* Hide the spinners for number inputs in webkit browsers */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide the spinners for Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  /* Remove the default spinner in Firefox */
}



/* campaign checkbox  */
/* input[type="checkbox"]{ */
  /* border: 1px solid #db1a1a !important; */
  /* position: relative; */
  /* accent-color:#5e2750 !important; */
  /* position: relative; */
 
/* } */

/* input[type="checkbox"]::before {
  content: '';
  position: absolute;
  height: 18px;
  width: 18px;
  top: -2.5px;
  left: -2.5px;
  right: -3px;
  bottom: -2.5px;
  border: 1px solid #8B0203 !important;
  border-radius: 4px; */
  /* pointer-events: none; */
/* } */

 /* Styling for the custom checkbox */
 .custom-checkbox{
  position: relative;
  width: 18px;
  height: 18px;
  border: 2px solid #8B0203 !important;
  border-radius: 4px;
  /* transition: border-color 0.3s ease, background-color 0.3s ease; */
}

.custom-checkbox:checked {
  border-color: #8B0203 !important; /* Border color when checked */
  background-color:  #5e2750!important; /* Background color when checked */
  /* border: 2px solid; */
}


.custom-checkbox:focus {
  outline: none;
}

.search_suggestion {
  width: 95%;
  z-index: 53;
  background: #ffffff;
}




.purple-btn1:hover {
  background-color: #7b3a6d;
  /* background-color: #5e2750; */
   /* Highlighted background color */
  color: white; /* Text color on hover */
  border-color: #7b3a6d; /* Border color on hover */
  box-shadow: 0px 4px 10px rgba(123, 58, 109, 0.4); /* Subtle shadow for highlight effect */
}

.purple-btn2:hover {
  /* background-color: #5e2750; */
  background-color: white;
  
  
   /* Change background color on hover */
  /* background-color: white; */
  /* color: white; */
   /* Change text color on hover */
  box-shadow: 0px 5px 10px rgba(94, 39, 80, 0.4); /* Add a subtle shadow */
  border-color: #5e2750; /* Ensure border matches the hover state */
}


/*  */

/* for search bar campaign  */
.highlight {
  background-color: #F6EFF4;
  cursor: pointer;
}


.tbl-container table td.override-center {
  text-align: center !important;
}




